<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Movie</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  {{#movies}}
  <form action="/movies/{{_id}}/update" method="post">
    <input type="text" name="title" value="{{title}}">
    <input type="text" name="director" placeholder="{{director}}">
    <input type="text" name="year" placeholder="{{year}}">
    <input type="text" name="poster" placeholder="{{poster}}">
    <input type="radio" name="rating" class="radio" value="1">
    <input type="radio" name="rating" class="radio" value="2">
    <input type="radio" name="rating" class="radio" value="3">
    <input type="radio" name="rating" class="radio" value="4">
    <input type="radio" name="rating" class="radio" value="5">
    <input type="submit" value="SAVE">
  </form>
  {{/movies}}
</body>
</html>
